<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head" , {title: 'Editando: ' + productToEdit.name }) %>
<body>
    <%- include ("../partials/header") %>

    <main>
        <h1 style="text-align: center;">Formulario de Producto - Ropa Deportiva</h1>
        <div class="cont-form-prod">
    <form action="/products/edit/<%= productToEdit.id %>" method="post"  enctype="multipart/form-data">
        <label class="label.-form-prod" for="name">Nombre del Producto: <%= productToEdit.name %></label>
        <input class="input-form-prod" type="text" id="nombre" name="name" required value="<%= productToEdit.name %>">
        
        <!-- <label class="label.-form-prod" for="categoria">Categoría:</label>
        <select class="slect-form-prod" id="categoria" name="categoria">
            <option value="ropa">Ropa</option>
            <option value="calzado">Calzado</option>
            <option value="accesorios">Accesorios</option>
        </select> -->
        
        <!-- <label class="label-form-prod" for="descripcion">Descripción:</label>
        <textarea class="textarea-form-prod" id="descripcion" name="descripcion" rows="4"></textarea> -->
        
        <label class="label.-form-prod" for="price">Precio: <%= productToEdit.price %></label>
        <input class="input-form-prod" type="text" id="price" name="price" required value="<%= productToEdit.price %>">
        
        <label class="label.-form-prod" for="img">Foto: </label>
        <input class="input-form-prod" type="file" id="img" name="img" placeholder="">
        
        <label class="label.-form-prod" for="talla">Tallas Disponibles: <%= productToEdit.talla %></label>
        <input class="input-form-prod" type="text" id="talla" name="talla" value="<%= productToEdit.talla %>">
        
        <label class="label.-form-prod" for="color">Colores Disponibles: <%= productToEdit.color %></label>
        <input class="input-form-prod" type="text" id="color" name="color" value="<%= productToEdit.color %>">
        
        <button class="button-form-prod" type="submit">Guardar Producto</button>
    </form>
</div>
    </main>
    

    <%- include ("../partials/footer") %>
</body>
</html>